/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// src/styles/settings.scss
@use 'vuetify/settings' with (
  // 폰트 변경
  $body-font-family: ('Noto Sans', sans-serif),
  $heading-font-family: ('Noto Sans', sans-serif),
  // 시트
  $sheet-background: 'transparent',
  $container-padding-x: 0,
  // 카드 스타일
  $card-background: transparent,
  $card-subtitle-header-padding: 0.5rem,
  $card-actions-padding: 1.5rem 1rem,
  $card-text-flex: 1 1 auto,
  $card-text-padding: 0,
  // 앱바
  $app-bar-transition: 0.2s ease-in-out,
  $app-bar-background: rgb(var(--v-theme-primary)),
  $app-bar-color: rgb(var(--v-theme-background)),
  //버튼
  $button-icon-density: ('default': 2, 'comfortable': 0, 'compact': -2),
  //아이콘
  $icon-size: 1rem,
  $icon-sizes: (
    'x-small': 1rem,
    'small': 1.5rem,
    'default': 1.25rem,
    'large': 2.5rem,
    'x-large': 3rem,
  ),
  $icon-left-margin-left: 0,
  $icon-margin-end : 0,
  //타이포
  $typography: (
    'h1': (
      'size': 4rem,
      'weight': 800,
      'line-height': 1,
      'letter-spacing':  -0.1rem,
      'text-transform': none
    ),
    'h2': (
        'size': 3rem,
        'weight': 800,
        'line-height': 1,
        'letter-spacing': -0.05rem,
        'text-transform': none
      ),
    'h3': (
      'size': 2.5rem,
      'weight': 700,
      'line-height': 1.05,
      'letter-spacing':  -0.025rem,
      'text-transform': none
    ),
    'h4': (
      'size': 2rem,
      'weight': 600,
      'line-height': 1.175,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'h5': (
      'size': 1.5rem,
      'weight': 600,
      'line-height': 1.333,
      'letter-spacing': normal,
      'text-transform': none
    ),
    'h6': (
      'size': 1.25rem,
      'weight': 500,
      'line-height': 1.6,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'subtitle-1': (
      'size': 1.125rem,
      'weight': 700,
      'line-height': 1.75,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'subtitle-2': (
      'size': 1rem,
      'weight': 600,
      'line-height': 1.6,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'body-1': (
      'size': 1rem,
      'weight': 400,
      'line-height': 1.5,
      'letter-spacing': .03125em,
      'text-transform': none
    ),
    'body-2': (
      'size': .875rem,
      'weight': 400,
      'line-height': 1.425,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'button': (
      'size': .875rem,
      'weight': 500,
      'line-height': 2.6,
      'letter-spacing': 0,
      'text-transform': uppercase
    ),
    'caption': (
      'size': .75rem,
      'weight': 400,
      'line-height': 1.667,
      'letter-spacing': 0,
      'text-transform': none
    ),
    'overline': (
      'size': .75rem,
      'weight': 500,
      'line-height': 2.667,
      'letter-spacing': 0,
      'text-transform': uppercase
    )
  )
);